[Unit]
Description=Writes sensor values to InfluxDB
After=network-online.target

[Service]
Environment=INFLUXDB_PASSWORD={{ influxdb_user_password }}
ExecStart=/usr/local/bin/sensors --influxdb-url https://{{ influxdb_host }}:{{ influxdb_port }} --influxdb-database {{ influxdb_database }} --influxdb-user {{ influxdb_user }}
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
Alias=sensors.service
